<div class="wholething">
  <div class="thebanner">
    <%= render '/layouts/banner' %>
  </div>
  <div class="container">
    <%= render '/layouts/card1' %>
    <%= render '/layouts/card2' %>
    <%= render '/layouts/card3' %>
  </div>

  <div class="tabs">
    <%= render '/layouts/tabs' %>
  </div>
</div>
